
  
  <div *ngIf="hero">

  <h2>Rule Details</h2>


<div class="jumbotron">



<div class="form-group">
    <label>Rule Name</label>
       <!-- <small class=" form-text text-muted">
     Rule which will be evaluated against each asset to analyze
</small> -->

    <input class="form-control" [(ngModel)]="hero.name" placeholder="name">
  </div>


<div class="form-group">
    <label>Description</label>

    <input class="form-control" [(ngModel)]="hero.description" placeholder="Any additional details here"/>

</div>





<div class="form-group">
       
         <label>Rule Definition
    
          <!-- <small class=" form-text text-muted">The rule is defined in JavaScript. The editor provides highlighting and syntax checking</small> -->
        
          <small class="form-text">Create compliance & non-compliance rules from the available assets] below. / to the right ]]] The rule is defined in JavaScript.</small>

      <textarea class="form-control" id="exampleTextarea" rows="6" >

  IF exportCountry in participatingCountries AND hasPaperKBCUploaded is TRUE

  IF exportCountry not in participatingCountries

      </textarea>
  </label>

    </div> 



<div class="form-group">
       
         <label>Asset Schema

        
     <small class="form-text">Available attributes relevant for this rule</small>

      <textarea class="form-control" rows="6" >

certificateBatchNumber

hasPaperCertificateUploaded

creationDate
expiryDate

exportCountry
exportDate

verifiedBy
verifierDetails
verifyDate

Origin ]]]

weight
shippedDate


      </textarea>
  </label>

    </div> 






<form>
  <div class="row">

    <div class="col">

      <input type="text" class="form-control" placeholder="First name">

    </div>

    <div class="col">
      <input type="text" class="form-control" placeholder="Last name">
    </div>

  </div>
</form>




<form>
  <div class="form-row">

    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>

      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">

    </div>

    <div class="form-group col-md-6">
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>

  </div>

</form>





  <div class="row">
    <div class="col-8">col-8</div>
    <div class="col-4">col-4</div>
  </div>


</div>

<div class="container">


 <button class="btn btn-secondary" (click)="goBack()">Return to all rules</button>

 <span class="example-fill-remaining-space"></span>    

  <button class="btn btn-primary"  (click)="save()">save</button>

  <button class="delete" title="delete hero"
      (click)="delete(this.hero)">delete</button>




</div>

<div class="row">
    <div class="col">col</div>
    <div class="col">col</div>
    <!-- <div class="col">col</div> -->
    <div class="col">col</div>
  </div>

</div>







<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->