button {
  /* background-color: #eee;
  border: none; */
  /* padding: 5px 10px; */
  border-radius: 4px; 

  font-family: Helvetica Neue;
}


/* .example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  /* flex: 1 1 auto;
} */ *

.form-control {
  /* color: black; */
  font-family: Helvetica Neue;
}
  
textarea {
  color: gray;
    font-size: 13px;
font-style: italic;
}



body, input[text] {

  font-family: georgia;
  color:
}


.row {
 font-weight: bold;
    display:flex;
  justify-content:center;
}
/* HeroDetailComponent's private CSS styles */
label {
  display: inline-block;
  /* width: 3em; */
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}
/* input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
  width: 60em;
} */



/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/