<div *ngIf="hero">

  <h2>Rule Details</h2>

  <!-- <div>
   <span>id: </span>{{hero.id}}</div> -->

  <div class="container">

    <label>Rule Name
      <!-- <small class=" form-text text-muted">
     Rule which will be evaluated against each asset to analyze
</small> -->

      <input [(ngModel)]="hero.name" placeholder="name"/>
    </label>

  </div>


 <div class="form-group">
    <label>Description 

      <input [(ngModel)]="hero.description" placeholder="Any additional details here"/>
    </label>
        </div> 



<div class="form-group">
       
         <label>Rule Definition
    
          <small class=" form-text text-muted">The rule is defined in JavaScript. The editor provides highlighting and syntax checking</small>
        
      <textarea class="form-control" id="exampleTextarea" rows="3" >
{{hero.jsdefinition}}

      </textarea>
  </label>

    </div> 




<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" placeholder="Email">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <div class="form-group">

    <label>Address 2 </label>
  <input [(ngModel)]="hero.description" placeholder="Add a description here tst**"/>
   
  </div>
</form>


<form>
  <div class="form-row">
    <div class="form-group col-md-6">
<label>Description: <input [(ngModel)]="hero.description" placeholder="Add a description here"/>
    </label>
</div>

<div class="form-group col-md-6">
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>


   <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>

  </div>
</form>


<div class="container">
<label>Rule Definition:<input [(ngModel)]="hero.jsdefinition" placeholder="Default code"/>
    </label>
</div>

<div class="container">
<label>Asset Schema:<input [(ngModel)]="hero.assets" placeholder="Default assets"/>
    </label>
</div>


<div class="container">



  <button (click)="goBack()">go back</button>  
  <button (click)="save()">save</button>

  <button class="delete" title="delete hero"
      (click)="delete(this.hero)">delete</button>

<!-- <button (click)="deleteHero()">Delete hero</button>

<a href="#" class="btn btn-primary">Find Out More!</a>



<button (click)="onSave()">Save</button>




<input-overview-example></input-overview-example>




<h4>myClick is an event on the custom ClickDirective:</h4>
<button (myClick)="clickMessage=$event" clickable>click with myClick</button>
{{clickMessage}}


<input [value]="currentItem.name"
       (input)="currentItem.name=$event.target.value" >



<form #heroForm (ngSubmit)="onSubmit(heroForm)"> ... 



</form>



</div> -->










<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->