
<!-- <div class="jumbotron mat-elevation-z18" style="border-radius: 8px">
   -->
  <div class="card bg-light border mat-elevation-z18"  style="border-radius: 4px; width=1800px">

  <div class="card-header">
    

      <h3>
 Compliance Summary: <span class="text-muted">Dashboard</span></h3>


  </div>
  <div class="card-body bg-white">





<div class="card-deck">

    <div class="card">

     <h5 class="card-header bg-dark" style="color: white;">Compliance Summary</h5>
    
    <div class="card-body">
      <h5 class="card-title">Total assets: 1450</h5>
      <p class="card-text">
        Compliant assets:  850<br>
        Non-compliant assets:  600
        </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>


  <div class="card">

     <h5 class="card-header bg-primary" style="color: white;">Summary</h5>

    <img src="https://i.ibb.co/vwp03p2/Screen-Shot-2019-05-19-at-9-56-45-PM.png" class="card-img-top" alt="...">
    <div class="card-body">
     
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

</div>




<div class="card-deck">
  <div class="card">
    <img src="https://i.ibb.co/b288q77/Screen-Shot-2019-05-19-at-10-01-41-PM.png" class="card-img-top" alt="...">

    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

  <!-- <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div> -->

</div>




<div class="card" style="width: 18rem;">
    <h5 class="card-header">Featured</h5>
  <img src="https://i.ibb.co/vwp03p2/Screen-Shot-2019-05-19-at-9-56-45-PM.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card ttttitle</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>




<div class="card">
  <h5 class="card-header bg-primary" style="color: white;">Featured</h5>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>



<div class="card text-center">
  <div class="card-header">
    Total assets:  1450       Compliant assets:  850        Non-compliant assets:  600
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>




<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>

<div class="card w-75">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Button</a>
  </div>
</div>



<div class="card mb-3">
  <img src="https://i.ibb.co/vwp03p2/Screen-Shot-2019-05-19-at-9-56-45-PM.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
  <img src="..." class="card-img-top" alt="...">
</div>
<!-- GRID LAYOUT -->
<div class="container">
  <div class="row">
    <div class="col">Column</div>
    <div class="col">Column 2</div>
    <div class="w-100"></div>
    <div class="col">Column 3</div>
    <div class="col">Column 4</div>
  </div>
</div>





    
    








