





<mat-toolbar color="primary" fixed-top>
  <mat-toolbar-row>
<span> A</span>



 <a class="navbar-brand" >  <img src="http://placehold.it/150x50?text=Logo" alt="">
        IBM logo</a>

  <a class="navbar-brand mr-1" href="index.html"> Blockchain Compliance Engine</a>

<span class="example-fill-remaining-space"></span>  

 <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>

    <mat-menu #appMenu="matMenu">
  <button mat-menu-item>Settings</button>
  <button mat-menu-item>Help</button>
</mat-menu>

<button mat-icon-button [matMenuTriggerFor]="appMenu">
  <mat-icon>more_vert</mat-icon>
</button>

</mat-toolbar-row>



</mat-toolbar> 




<ul class="nav nav-tabs">

<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/rules">Rules</a>
  <a routerLink="/analysis" routerLinkActive="active">Start Analysis</a>
  <a routerLink="/summary">Summary 2</a>
  summary
   <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</nav>

</ul>


	
<nav mat-tab-nav-bar>
  <a mat-tab-link
  *ngFor="let link of navLinks"
  [routerLink]="link.path"
  routerLinkActive #rla="routerLinkActive"
  [active]="rla.isActive">
 {{link.label}}
</a>
</nav>
<router-outlet></router-outlet>



<nav mat-tab-nav-bar>
  <a mat-tab-link     
     routerLink="/dashboard"  routerLinkActive #rla="routerLinkActive" [active]="this.link" (click)="rla.isActive">
     
    <span class="">Home</span>    
  </a>
   <a mat-tab-link     
     routerLink="/rules" routerLinkActive="mat-tab-link-active"
           #rla="routerLinkActive">
       
    <span class="">Rules</span>   
  </a>

  <a mat-tab-link     
     routerLink="/analysis"  routerLinkActive
           #rla="routerLinkActive" [active]="rla.isActive" (click)="rla.isActive"
           
           >
    <span class="">Analyze</span>   
  </a>

  <a mat-tab-link     
     routerLink="/summary"  
     routerLinkActive
           #rla="routerLinkActive"  
           
           >
    <span class="">Results</span>   
  </a>

</nav>



<nav mat-tab-nav-bar [backgroundColor]="primary">
  <a mat-tab-link *ngFor="let link of links"
     (click)="activeLink = link"
     [active]="activeLink == link"> {{link}} </a>
 
</nav>








<div class="main container">
	<div class="row">
		<div class="col">
<h1></h1>


<nav>


  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/rules">Rules</a>
  <a routerLink="/analysis">Start Analysis</a>
  <a routerLink="/summary">Summary 2</a>
  summary
   <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>


</nav>
 <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
<br>
<mat-divider></mat-divider>

<div [@routeAnimation]="getAnimationData(routerOutlet)">
  <router-outlet #routerOutlet="outlet"></router-outlet>
</div>


		</div>
	</div>
</div>
<app-footer></app-footer>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->