





<mat-toolbar>
  <mat-toolbar-row>

 <a class="navbar-brand" >  <img src="https://i.ya-webdesign.com/images/ibm-logo-white-png-1.png" alt="" height=90>
  </a>


  <a class="navbar-brand mr-1"> Blockchain Compliance Engine</a>

<span class="example-fill-remaining-space"></span>  

 <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>

    <mat-menu #appMenu="matMenu">
  <button mat-menu-item>Settings</button>
  <button mat-menu-item>Help</button>
</mat-menu>

<button mat-icon-button [matMenuTriggerFor]="appMenu">
  <mat-icon>more_vert</mat-icon>
</button>

</mat-toolbar-row>



</mat-toolbar> 







	



<nav mat-tab-nav-bar>
  <div class=container>

  <a mat-tab-link     
     routerLink="/dashboard"  
     routerLinkActive="mat-tab-link-active">
     
    <span class="">Home</span>    
  </a>
   <a mat-tab-link     
     routerLink="/rules" 
    routerLinkActive="mat-tab-link-active"
           >
       
    <span class="">Rules</span>   
  </a>

  <a mat-tab-link     
     routerLink="/analysis"  routerLinkActive="mat-tab-link-active"
           >
    <span class="">Analyze</span>   
  </a>

  <a mat-tab-link     
     routerLink="/summary"  
     routerLinkActive="mat-tab-link-active"
  
           >
    <span class="">Results</span>   
  </a>
</div>

</nav>









<div class="main container">
	<div class="row">
		<div class="col">
<h1></h1>





<div [@routeAnimation]="getAnimationData(routerOutlet)">
  <router-outlet #routerOutlet="outlet"></router-outlet>
</div>


		</div>
	</div>
</div>
<app-footer></app-footer>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->