
{
    display: inline-block !important;
    width: 100%;
}
.mat-tab-link-active,
.mat-tab-label-active {
    background-color: #5EADB0;
    color: #D5FEFF;
    border: 0px solid #6B7F7F;
    font-weight: bold;
}
.mat-tab-link,
.mat-tab-label {
    line-height: 30px !important;
    height: 30px !important;
    min-width: 100px !important;
    border: 1px solid #7e7e7e;
}
.tabContentContainer {
    border: 0px solid #aaaaaa;
    background: #ffffff 50% 50% repeat-x;
}




.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.active {

color: rgb(248, 9, 9) !important;
  background-color: rgb(129, 102, 134);

}



/* AppComponent's private CSS styles */
h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: ;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #cee503;
}






html { height: 100%; }

body {
  min-height: 100%;
  position: relative;
  font-family: 'Ubuntu', sans-serif;
}

.main {
   min-height: 100%;
   padding-bottom: 60px;
}

.footer {
  background-color: #f5f5f5;
  bottom: 0;
  height: 60px;
  line-height: 60px;
  position: absolute;  
  width: 100%;
}

.row { margin: 20px 0; }
code { color: darkred!important; }


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/