

<mat-toolbar color="primary" fixed-top>
<span> A</span>



 <a class="navbar-brand" >  <img src="http://placehold.it/150x50?text=Logo" alt="">
        IBM logo</a>

  <a class="navbar-brand mr-1" href="index.html"> Blockchain Compliance Engine</a>

<span class="example-fill-remaining-space"></span>  

 <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>


</mat-toolbar> 


<mat-tab-group>
<mat-tab label="First"> Content 1 </mat-tab>
<mat-tab label="Second"> Content 2 </mat-tab>
<mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group>



<div class="main container">
	<div class="row">
		<div class="col">
<h1></h1>


<nav>






  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/rules">Rules</a>
  <a routerLink="/analysis">Start Analysis</a>
  <a routerLink="/summary">Summary 2</a>
  summary
   <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>


</nav>
 <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
<br>
<mat-divider></mat-divider>

<router-outlet></router-outlet>


		</div>
	</div>
</div>
<app-footer></app-footer>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->