
 matStepLabel { 

    width: 70em;
 
} 


.jumbotron {
 
border-radius: 8px;
   width: 70em;


}


button, .btn {
  /* background-color: #eee;
  border: none; */
  /* padding: 5px 10px; */
  border-radius: 4px; 

  font-family: arial;
}

.row {
 /* font-weight: bold; */
    display:flex;
  justify-content:center;
}

mat-horizontal-stepper {
min-height: 400px;

display: flex;
  flex-direction: column;

  border-radius: 8px;
}



.example-container {
  /* display: flex;
  flex-direction: column;
  max-height: 600px;
    width: 300px; */

   justify-content:center;
  /* max-width: 800px;
  min-width: 800px; */
}
