<h3>Information</h3>

<body class="mat-app-background">
test</body>
<br>
<br>

<ngb-alert [dismissible]="false" type="primary">
 test alert
</ngb-alert>

 <i class="material-icons">face</i>

  <i class="material-icons md-36">face</i>
  <i class="material-icons md-48">face</i>



<p>
  <mat-form-field appearance="outline">
    <mat-label>Outline form field</mat-label>
    <input matInput placeholder="Placeholder">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
   <mat-hint> Hint </mat-hint>
  </mat-form-field>
</p>











 <form>
  <div class="row">

    <div class="col">

      <input type="text" class="form-control" placeholder="First name">

    </div>

    <div class="col">
      <input type="text" class="form-control" placeholder="Last name">
    </div>

  </div>
</form>





<br>
<mat-divider></mat-divider><br>

test


<div class="jumbotron">
  <h1 class="display-3">Hello, world!</h1>

  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  
  <hr class="my-4">
  
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>










<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->