

<ngb-alert [dismissible]="false" type="primary">
 test alert
</ngb-alert>

 <i class="material-icons">face</i>

  <i class="material-icons md-36">face</i>
  <i class="material-icons md-48">face</i>


<!-- 


<div class="jumbotron">
  <h1 class="display-3">Hello, world!</h1>

  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  
  <hr class="my-4">
  
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>

      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
 -->









<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->