<h2>My Rules</h2>

<div>
  <app-hero-search></app-hero-search>
</div>

<mat-divider></mat-divider><br>

<div>
  <label>Rule name:
    <input #heroName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(heroName.value); heroName.value=''">
    add
  </button>
</div>




<ul class="heroes" [@filterAnimation]="heroTotal">
  <li *ngFor="let hero of heroes" >
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    
    
  </li>
</ul>





1
<ul class="heroes" multiple >

  <mat-option *ngFor="let hero of heroes" >
    
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    
</mat-option>


</ul>

2
<ul class="heroes" multiple>

  <li *ngFor="let hero of heroes" >
    
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    
</li>


</ul>

3
<ul class="heroes">

<li>
  <mat-option *ngFor="let hero of heroes" >
    
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    
</mat-option>
</li>


</ul>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->